name: Build and Push to GHCR

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract short commit SHA
        id: vars
        run: echo "sha_short=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Build and Tag Image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/jarmonitor:${{ steps.vars.outputs.sha_short }} \
                       -t ghcr.io/${{ github.repository_owner }}/jarmonitor:latest \
                       -f JarMonitor/Dockerfile .

      - name: Push Image
        run: docker push ghcr.io/${{ github.repository_owner }}/jarmonitor --all-tags
